 #areaTexto {
   width: 50%;
   height: 150px;
   padding: 5px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 4px;
   background-color: #f8f8f8;
   resize: none;
 }

 body {
   background-color: #f0f0f0;
 }
